* {
    /* Overall background */
    background-color: #00171F;
    color: white;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 2px;
}

h1 {
    /* CSS elements on my name's text */
    max-width: 900px;
    margin: auto;
    transition:1s;
}

h1:hover {
    /* Enlarge my name when hovering over */
    transform: scale(1.5);
    transition: 1.5s;
    color: yellow;
}

h2 {
    /* titles are different colors to stand out more */
    color:blanchedalmond;
}

.fireflies {
    /* general CSS style for all the fireflies */
    background-color: lightgoldenrodyellow;
    border-radius: 50%;
    opacity: 0.8;
    padding-top: 1px;
    transition:1s;
}

#banner div {
    /* turn on absolute position for children of #banner to position RELATIVE to the banner 0,0 */
    position: absolute;
}

#banner {
    /* turn on relative positioning on parent container */
    position: relative;
    min-width:900px;
    width: 1100px;
    height: 250px;
    background-color: black;
    opacity: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

/* Each bug has their own position and flickering timing */

#bug1 {
    top: 72%;
    left: 8%;
    width: 10px;
    height: 10px;
    animation: flicker 3.4s ease alternate infinite;
}

#bug2 {
    top: 8%;
    left: 10%;
    width: 8px;
    height: 8px;
    animation: flicker 2.9s ease alternate infinite;
}

#bug3 {
    top: 50%;
    left: 12%;
    width: 18px;
    height: 18px;
    animation: flicker 5.3s ease alternate infinite;
}

#bug4 {
    top: 15%;
    left: 20%;
    width: 7px;
    height: 7px;
    animation: flicker 4.5s ease alternate infinite;
}

#bug5 {
    top: 72%;
    left: 27%;
    width: 12px;
    height: 12px;
    animation: flicker 4.9s ease alternate infinite;
}

#bug6 {
    top: 33%;
    left: 31%;
    width: 16px;
    height: 16px;
    animation: flicker 3.8s ease alternate infinite;
}

#bug7 {
    top: 52%;
    left: 42%;
    width: 14px;
    height: 14px;
    animation: flicker 2.6s ease alternate infinite;
}

#bug8 {
    top: 21%;
    left: 54%;
    width: 8px;
    height: 8px;
    animation: flicker 5.1s ease alternate infinite;
}
#bug9 {
    top: 75%;
    left: 58%;
    width: 16px;
    height: 16px;
    animation: flicker 4.2s ease alternate infinite;
}

#bug10 {
    top: 61%;
    left: 66%;
    width: 9px;
    height: 9px;
    animation: flicker 3.8s ease alternate infinite;
}

#bug11 {
    top: 26%;
    left: 74%;
    width: 13px;
    height: 13px;
    animation: flicker 4.9s ease alternate infinite;
}

#bug12 {
    top: 55%;
    left: 80%;
    width: 9px;
    height: 9px;
    animation: flicker 2.7s ease alternate infinite;
}

#bug13 {
    top: 18%;
    left: 89%;
    width: 4px;
    height: 4px;
    animation: flicker 3.5s ease alternate infinite;
}

#bug14 {
    top: 85%;
    left: 91%;
    width: 10px;
    height: 10px;
    animation: flicker 4.2s ease alternate infinite;
}

/* a bug "flicker" by changing it's brightness */
@keyframes flicker {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fireflies:hover {
    /* Enlarge a bug when it's hover over */
    background-color: #FFFF00;
    transition: 1.3s;
    opacity: 100%;
    transform: scale(2);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    margin: auto;
    width: 80%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

ul {
    list-style-type: none;
}

a {
    padding: 4px 4px;
}

a:link {
    /* turning on display block so I can add margin-bottom for more breathability in the interface.
    If I put the margin-bottom on the <li> I would not need the display:block on the a tag since <li> is a
    block-level tag already */
    display: block;
    text-decoration: none;
    margin-bottom: 1px;
    opacity: 70%;
}

.column1 a:hover, .column2 a:hover, .column3 a:hover{
    /* change only the background color for the project links so the footer's links won't be highlighted */
    opacity: 100%;
    color: #00171F;
    background-color: #FFE45C;
    padding:4px 4px;
    transition: 0.5s;
}

.column1 .column2 .cloumn3 {
    text-align: center;
    transition: 0.5s;
}


footer {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    border-top: 3px dotted white;
    opacity: 80%;
    margin-right:10%;
    margin-left: 10%;
}

.footer_texts {
    color: #DBEBC0;
    font-size: 20px;
    font-style: oblique;
    transition: 1s;
}

.footer_texts:hover { 
    /* a color shade for hovering over footer notes */
    transition: 1.5s;
    transform: scale(1.3);
    color: yellow;
    opacity: 100%;
}