body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    height: 768px;
    width: 2500px;

    color: #656b79;
    overflow-y: hidden;
    flex: 0 0 100%;
}

#horizontal-container{
    width: 100%;
    height: 768px;
    display: flex;
    flex-direction: row;
    position: absolute;
    overflow-x: scroll;
    overflow-y: hidden;
    word-wrap: break-word;
}

.columns {
    padding: 40px 20px ;
    display: inline-block;
    overflow-y: scroll;
    text-align:left;
    font-size: 15px;
    min-width: 300px;
    max-height: 100%;
}

header{
    padding-left: 1em;
    padding-top: 10%;
    font-size: 30px;
}

#header-column{
    background-color: #FFA69E;
    color: #343841fa;
    
}
#article4-column{
    background-color: #FAF3DD;

    color: #343841fa;
}

#article3-column{
    background-color: #B8F2E6;
}

#article2-column{
    background-color: #AED9E0;
}

#article1-column{
    background-color: #e9cde6;
}


#article4, #article3, #article2, #article1 {
    line-height: 1.6;
    margin-bottom: 50%;
}

figure {margin:0} 

button{
    text-decoration: none;
    border: none;
    background-color: transparent;
}

h2{
    cursor: default;
    font-weight: bolder;
    font-size: 45px;
}

.hidden{
    display: none;
}

.visible {
  visibility:visible;
}

footer {
    position: fixed;
    top: 718px;
    height: 50px;
    width: 100%;
    font-size: 25px;
    background-color: #5E6472;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1em;
}

footer a{
    padding-top: 5px;
    color: #FFFFFF;
}

a {
    text-decoration: none;
    color: dodgerblue;
}

a:hover {
    color: rgb(42, 88, 135);
}
