/*
    Color Palette
    Black - #000000
    Dark Blue - #294483
    Yellow  - #f8e44c
    Light Blue - #54a6dd
    White - whitesmoke
*/

html {
  scroll-behavior: smooth;
}

body {
    margin-top: 2%;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.colorBG1{background-color: #54a6dd; transition: all 1s;}
.colorBG2{background-color: #8380B6; transition: all 1s;}
.colorBG3{background-color: #FFC09F; transition: all 1s;}
.colorBG4{background-color: #A5B452; transition: all 1s;}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    margin: auto;
    width: 80%;
    max-height: 768px;
    margin-bottom: 1%;
}

header{
    position: fixed;
    margin: auto;
    margin-left: 5%;
}

#inbox-container {
    flex-direction: column;
    background-color: whitesmoke;
    /* margin-right: 5%; */
    margin: auto;
    width: 200px;
    height: 200px;
}

#email-container {
    display: flex;
    flex-direction: column;
    /* margin-right: 15%; */
    /* margin-left: 5px; */
}

.journals{
    background-color: whitesmoke;
    width: 500px;
    height:700px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

a {
    color:#294483;
}

a:hover{
    color:#f8e44c;
}

a:link {
    text-decoration: none;
    opacity: 70%;
}

p {
    padding: 5%;
    padding-bottom: 12px; 
}

h1, h2 {
    padding-left: 5%;
}

footer {
    position: fixed;
    right: 5%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 10px;
}

footer a, header a {
    color: #294483;
    padding-bottom: 12px;
}

