*{
    background-color: #191414;
    color: white;
}

body, header {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#form-container{
    /* margin: auto; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* background-color: #191414; */
    width: 80%;
    margin:auto;
    padding: 10px;
}

#left-column{
    border-style: solid;
    border-radius: 1em;
    border-color: #1DB954;
    height: 500px;
    width: 300px;
}

#middle-column{
    border-style: solid;
    border-radius: 1em;
    border-color: #1DB954;
    height: 500px;
    width: 300px;
}

#right-column{
    /*border-style: solid;
    border-radius: 1em;
    border-color: #1DB954;   */
    position: relative;
    height: 500px;
    width: 300px;
}

#page-title{
    margin: 20px;
    width: 90%;
    background-color: #1ED760;
    padding: 10px 2px;
    border-radius: 1em;
    font-weight: bold;
    font-size: x-large;
    pointer-events: none;
}

#player-info {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 80%;
}

#survey {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 75%;
    height: 80%;
}

input[type=text] {
    width: 100%;
    padding: 10px 15px;
    margin: 8px 0;
    font-size: 18px;
    box-sizing: border-box;
    border-radius: 1em;
    background-color: white;
    color:black;
}

input:focus, button:focus {
    outline: none;
    background-color: #A9B6A5;
}

#submitButton{
    margin: 15px;
    top: 40%;
    left: 10%;
    width: 70%;
    position: absolute;
    background-color: #1ED760;
    padding: 10px 2px;
    border-radius: 1em;
    font-weight: 400;
}

#submitButton:hover{
    background-color: #1DB954;
}

#result {
    position: absolute;
    text-align: center;
    color:darksalmon;
    margin-top: 1%;
    margin: 15px;
    top: 50%;
    width: 90%;
}

footer {
    /* right: 5%; */
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-bottom: 10px;
}

footer a, header a {
    margin-top: 10%;
    padding: 12px 30px;
}

/* The following is css formats on overlay */

.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility: visible;
    opacity: 1;
}

.overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.overlay article {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #191414;
    padding: 25px;
    width: 70%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay-text{
    padding: 8px 4px;
    font-weight: bold;
    font-size: larger;
}

.overlay-left-col, .overlay-right-col{
    display: flex;
    flex-direction: column;
}

.close-overlay-button{
    margin: 15px;
    background-color: #1ED760;
    padding: 10px 2px;
    border-radius: 1em;
    font-weight: 400;
}

.song-name, .sub, footer a:hover {
    color: #1ED760;
}

.artist-name {
    font-size: large;
}
